<div class="posts-feed">
    <% if(posts && posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <%- include("./_post-body", { post: post }) %>
        <% }) %>
    <% } else { %>
        <div class="card post-card mb-4 z-0">
            <div class="card-body text-center">
                <p>No posts yet!</p>
            </div>
        </div>
    <% } %>
</div>